<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">
    {{ editar ? "Editar Libro" : "Nuevo Libro" }}
  </h5>
  <button
    type="button"
    class="btn-close"
    data-bs-dismiss="modal"
    aria-label="Close"
    (click)="closeModal('close')"
  ></button>
</div>
<div class="modal-body">
  <div class="container">
    <div class="row" [formGroup]="libroFormGuardar" autocomplete="off">
      <div class="col-12 my-2">
        <label for="">Nombre</label>
        <input
          type="text"
          class="form-control"
          name=""
          id=""
          formControlName="nombreGuardar"
          ngbAutofocus
          [class.is-invalid]="nombreNoValido"
        />
        <small class="text-danger mt-3 mt-lg-0" *ngIf="nombreNoValido"
          >Ingrese el nombre</small
        >
      </div>
      <div class="col-12 my-2">
        <label for="">Descripcion</label>
        <textarea
          name=""
          id=""
          rows="3"
          class="form-control"
          formControlName="descripcion"
          [class.is-invalid]="descripcionNoValido"
        ></textarea>
        <small class="text-danger mt-3 mt-lg-0" *ngIf="descripcionNoValido"
          >Ingrese la descripcion</small
        >
      </div>
      <div class="col-12 my-2">
        <label for="">Autor</label>
        <input
          type="text"
          class="form-control"
          name=""
          id=""
          formControlName="autorGuardar"
          [class.is-invalid]="autorNoValido"
        />
        <small class="text-danger mt-3 mt-lg-0" *ngIf="autorNoValido"
          >Ingrese el autor</small
        >
      </div>
      <div class="col-md-6 my-2">
        <label for="">Categoria</label>
        <select
          name=""
          id="Categoría"
          formControlName="categoriaGuardar"
          class="form-control"
          [class.is-invalid]="categoriaNoValido"
        >
          <option value="" hidden>Seleccione</option>
          <option *ngFor="let d of categorias" [ngValue]="d">
            {{ d.nombre }}
          </option>
        </select>
        <small class="text-danger mt-3 mt-lg-0" *ngIf="categoriaNoValido"
          >Ingrese la categoria</small
        >
      </div>
      <div class="col-md-6 my-2">
        <label for="">N° páginas</label>
        <input
          type="number"
          class="form-control"
          name=""
          id=""
          formControlName="paginas"
          [class.is-invalid]="paginasNoValido"
        />
        <small class="text-danger mt-3 mt-lg-0" *ngIf="paginasNoValido"
          >Ingrese el número de páginas</small
        >
      </div>
      <div class="col-12 my-2">
        <label for="">Editorial</label>
        <input
          type="text"
          class="form-control"
          name=""
          id=""
          formControlName="editorial"
          [class.is-invalid]="editorialNoValido"
        />
        <small class="text-danger mt-3 mt-lg-0" *ngIf="editorialNoValido"
          >Ingrese la editorial</small
        >
      </div>
      <div class="col-md-6 my-2">
        <label for="">Año de publicación</label>
        <input
          type="number"
          class="form-control"
          name=""
          id=""
          formControlName="fecha"
          [class.is-invalid]="fechaNoValido"
        />
        <small class="text-danger mt-3 mt-lg-0" *ngIf="fechaNoValido"
          >Ingrese el año de publicación</small
        >
      </div>
      <div class="col-md-6 my-2">
        <label for="">Precio</label>
        <input
          type="text"
          class="form-control"
          name=""
          id=""
          formControlName="precio"
          [class.is-invalid]="precioNoValido"
        />
        <small class="text-danger mt-3 mt-lg-0" *ngIf="precioNoValido"
          >Ingrese el precio</small
        >
      </div>
      <div class="col-12 my-2">
        <label for="">Stock</label>
        <input
          type="number"
          class="form-control"
          name=""
          id=""
          formControlName="cantidad"
          [class.is-invalid]="cantidadNoValido"
        />
        <small class="text-danger mt-3 mt-lg-0" *ngIf="cantidadNoValido"
          >Ingrese el stock</small
        >
      </div>
      <div class="col-12 my-2">
        <label for="">Imagen</label>
        <input
          type="text"
          class="form-control"
          name=""
          id=""
          formControlName="imagen"
          [class.is-invalid]="imagenValido"
        />
        <small class="text-danger mt-3 mt-lg-0" *ngIf="imagenValido"
          >Ingrese la imagen del libro</small
        >
      </div>
    </div>
  </div>
</div>
<div class="modal-footer">
  <button
    type="button"
    class="btn btn-danger"
    data-bs-dismiss="modal"
    (click)="closeModal('cerrar')"
  >
    Cancelar
  </button>
  <button type="button" class="btn btn-success" (click)="validar()">
    Guardar
  </button>
</div>
