<div class="modal-header">
  <h5 class="modal-title">{{ libro?.nombre }}</h5>
  <button
    type="button"
    class="btn-close"
    data-dismiss="modal"
    aria-label="Close"
    (click)="closeModal('dismiss')"
  >
    <span aria-hidden="true"></span>
  </button>
</div>

<div class="modal-body">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-5">
        <div class="row">
          <div class="col-12">
            <img
              src="{{ libro?.imagen }}"
              alt="Imagen del libro"
              class="w-100"
            />
          </div>
          <div class="col-12">
            <div class="card bg-success">
              <div class="card-body d-flex justify-content-center align-middle">
                <span class="h1 text-white">$ {{ libro?.precio }}</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-7">
        <div class="row">
          <div class="col-md-3 my-2">Categoria</div>
          <div class="col-md-9 my-2">
            <input
              type="text"
              readonly
              class="form-control"
              value="{{ libro?.categoria?.nombre }}"
              ngbAutofocus
            />
          </div>
          <div class="col-md-3 my-2">Descripcion</div>
          <div class="col-md-9 my-2">
            <textarea readonly class="form-control" rows="6">{{
              libro?.descripcion
            }}</textarea>
          </div>

          <div class="col-md-3 my-2">Autor</div>
          <div class="col-md-9 my-2">
            <input
              type="text"
              readonly
              class="form-control"
              value="{{ libro?.autor?.nombre }}"
            />
          </div>
          <div class="col-md-3 my-2">Stock</div>
          <div class="col-md-9 my-2">
            <input
              type="text"
              readonly
              class="form-control"
              value="{{ libro?.cantidad }}"
            />
          </div>

          <div class="col-md-3 my-2">Páginas</div>
          <div class="col-md-9 my-2">
            <input
              type="number"
              readonly
              class="form-control"
              value="{{ libro?.paginas }}"
            />
          </div>
          <div class="col-md-3 my-2">Editorial</div>
          <div class="col-md-9 my-2">
            <input
              type="text"
              readonly
              class="form-control"
              value="{{ libro?.editorial?.nombre }}"
            />
          </div>
          <div class="col-md-3 my-2">Publicacion</div>
          <div class="col-md-9 my-2">
            <input
              type="text"
              readonly
              class="form-control"
              value="{{ libro?.anio }}"
            />
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="modal-footer">
  <button
    type="button"
    class="btn btn-primary"
    *ngIf="libro?.cantidad > 0"
    (click)="openModal()"
  >
    Comprar
  </button>
</div>
