<header class="p-3 bg-dark text-white">
  <div class="container">
    <div
      class="
        d-flex
        flex-wrap
        align-items-center
        justify-content-center justify-content-lg-start
      "
    >
      <a
        routerLink="/"
        class="
          d-flex
          align-items-center
          mb-2 mb-lg-0
          text-white text-decoration-none
        "
      >
        <img
          src="https://image.flaticon.com/icons/png/512/1414/1414305.png"
          alt=""
          width="40"
          height="40"
        />
      </a>

      <ul
        class="
          nav
          col-12 col-lg-auto
          me-lg-auto
          mb-2
          justify-content-center
          mb-md-0
        "
      >
        <li>
          <a class="nav-link px-2 text-white" routerLink="/inventario">Home</a>
        </li>
        <li>
          <a
            class="nav-link px-2 text-white"
            routerLink="/inventario/registro"
            *ngIf="usuarioRegistrado"
            >Inventario</a
          >
        </li>
        <li>
          <a
            class="nav-link px-2 text-white"
            routerLink="/reporte"
            *ngIf="usuarioRegistrado"
            >Reportes</a
          >
        </li>
      </ul>

      <div class="text-end">
        <a
          type="button"
          class="btn btn-outline-light me-2"
          routerLink="/login"
          *ngIf="!usuarioRegistrado"
          >Login</a
        >
        <button
          type="button"
          class="btn btn-outline-light me-2"
          (click)="logout()"
          *ngIf="usuarioRegistrado"
        >
          Logout
        </button>
      </div>
    </div>
  </div>
</header>
