<!-- <body> -->
<!-- <div class="button-vender">
  <button
    type="button"
    class="btn btn-primary"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal"
  >
    Nuevo
  </button>
</div> -->

<div class="main mt-5">
  <div class="container">
    <div class="card">
      <div class="card-body">
        <!-- <form
          id="booking-form"
          class="booking-form"
          [formGroup]="libroForm"
          autocomplete="off"
        >
          <div class="form-group">
            <div class="row">
              <div class="form-destination col-md-4">
                <label for="autor">Autor</label>
                <input
                  type="text"
                  id="autor"
                  name="autor"
                  class="form-control mt-3"
                  placeholder="Edgar allan poe"
                  formControlName="autor"
                />
              </div>
              <div class="form-date-from form-icon col-md-4">
                <label for="Categoría">Categoría</label>
                <select
                  name=""
                  id="Categoría"
                  formControlName="categoria"
                  class="form-control mt-3"
                >
                  <option value="" hidden>Seleccione</option>
                  <option *ngFor="let d of categorias" [ngValue]="d">
                    {{ d.nombre }}
                  </option>
                </select>
              </div>
              <div class="form-date-to form-icon col-md-4">
                <label for="Título">Título</label>
                <input
                  type="text"
                  id="Título"
                  placeholder="Annabel Lee"
                  formControlName="titulo"
                  class="form-control mt-3"
                />
              </div>

              <div class="form-submit mt-3 d-flex flex-row-reverse">
                <input
                  type="button"
                  id="submit"
                  class="submit btn btn-primary"
                  value="Buscar"
                  (click)="buscar()"
                />
              </div>
            </div>
          </div>
        </form> -->
        <div class="row">
          <div class="col-10">
            <input type="text" [(ngModel)]="filterlibro"
              placeholder="Ingrese nombre de libro"
              class="form-control" />
          </div>
          <div class="col-2">
            <button
              type="button"
              class="btn btn-primary"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal"
            >
              Nuevo
            </button>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container mt-5">
    <table class="table table-bordered table-hover mx-auto">
      <thead class="thead-dark">
        <tr>
          <th>N°</th>
          <th>TÍTULO</th>
          <th>AUTOR</th>
          <th>CATEGORIA</th>
          <th>PRECIO</th>
          <th>STOCK</th>
          <th></th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="let l of libros | filter: { nombre: filterlibro}">
          <td>{{ l?.libroId }}</td>
          <td>{{ l?.nombre }}</td>
          <td>{{ l?.autor?.nombre }}</td>
          <td>{{ l?.categoria?.nombre }}</td>
          <td>{{ l?.precio }}</td>
          <td>{{ l?.cantidad }}</td>
          <td class="total">
            <button
              class="btn btn-success"
              type="button"
              id="flexCheckDefault"
              (click)="vender(l?.libroId)"
            >
              Vender
            </button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
<!-- </body> -->

<!-- Button trigger modal -->

<!-- Modal -->
<div
  class="modal fade"
  id="exampleModal"
  tabindex="-1"
  aria-labelledby="exampleModalLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Nuevo Libro</h5>
        <button
          type="button"
          class="btn-close"
          data-bs-dismiss="modal"
          aria-label="Close"
          id="cerrar"
        ></button>
      </div>
      <div class="modal-body">
        <div class="container">
          <div class="row" [formGroup]="libroFormGuardar" autocomplete="off">
            <div class="col-12">
              <label for="">Nombre</label>
              <input
                type="text"
                class="form-control"
                name=""
                id=""
                formControlName="nombreGuardar"
              />
            </div>
            <div class="col-12">
              <label for="">Descripcion</label>
              <textarea
                name=""
                id=""
                rows="3"
                class="form-control"
                formControlName="descripcion"
              ></textarea>
            </div>
            <!-- <div class="col-12">
              <label for="">Fecha</label>
              <input
                type="date"
                class="form-control"
                name=""
                id=""
                formControlName="fecha"
              />
            </div> -->
            <div class="col-12">
              <label for="">Autor</label>
              <input
                type="text"
                class="form-control"
                name=""
                id=""
                formControlName="autorGuardar"
              />
            </div>
            <div class="col-12">
              <label for="">Categoria</label>
              <select
                name=""
                id="Categoría"
                formControlName="categoriaGuardar"
                class="form-control mt-3"
              >
                <option value="" hidden>Seleccione</option>
                <option *ngFor="let d of categorias" [ngValue]="d">
                  {{ d.nombre }}
                </option>
              </select>
            </div>
            <div class="col-12">
              <label for="">N° páginas</label>
              <input
                type="number"
                class="form-control"
                name=""
                id=""
                formControlName="paginas"
              />
            </div>
            <div class="col-12">
              <label for="">Editorial</label>
              <input
                type="text"
                class="form-control"
                name=""
                id=""
                formControlName="editorial"
              />
            </div>
            <div class="col-12">
              <label for="">Precio</label>
              <input
                type="text"
                class="form-control"
                name=""
                id=""
                formControlName="precio"
              />
            </div>
            <div class="col-12">
              <label for="">Stock</label>
              <input
                type="number"
                class="form-control"
                name=""
                id=""
                formControlName="cantidad"
              />
            </div>
          </div>
        </div>
        <!-- <div>
          <h1 style="font-size: 1rem">DATOS DEL LIBRO</h1>
          <p class="modal-title">Nombre</p>
          <input type="text" placeholder="Aqui ira el nombre" disabled />
          <p class="modal-title">Autor</p>
          <input type=" text" placeholder="Aqui ira el Autor" disabled />
          <p class="modal-title">Categoria</p>
          <input type="text" placeholder="Aqui ira la Categoria" disabled />
          <p class="modal-title">Editorial</p>
          <input type=" text" placeholder="Aqui ira la Editorial" disabled />
          <p class="modal-title"># de Libros</p>
          <input type="number" maxlength="3" min="0" />
        </div>
        <div style="vertical-align: top">
          <h1 style="font-size: 1rem">DATOS DEL COMPRADOR</h1>
          <p class="modal-title">Nombre</p>
          <input type="text" />
          <p class="modal-title">Apellido</p>
          <input type=" text" />
          <p class="modal-title">DNI</p>
          <input type="number1" maxlength="8" />
        </div> -->
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-danger" data-bs-dismiss="modal">
          Cancelar
        </button>
        <button type="button" class="btn btn-success" (click)="guardar()">
          Guardar
        </button>
      </div>
    </div>
  </div>
</div>
