<p>venta-libro works!---sakgjbkdfgbf</p>
<!-- Button trigger modal -->

<button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#exampleModal">
  Vender
</button>

<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Vender Libro</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div>
                    <h1 style="font-size: 1rem;">DATOS DEL LIBRO</h1>
                    <p class="modal-title">Nombre</p>
                    <input type="text" placeholder="Aqui ira el nombre" disabled>
                    <p class="modal-title">Autor</p>
                    <input type=" text" placeholder="Aqui ira el Autor" disabled>
                    <p class="modal-title">Categoria</p>
                    <input type="text" placeholder="Aqui ira la Categoria" disabled>
                    <p class="modal-title">Editorial</p>
                    <input type=" text" placeholder="Aqui ira la Editorial" disabled>
                    <p class="modal-title"># de Libros</p>
                    <input type="number" maxlength="3" min="0">
                </div>
                <div style="vertical-align: top;">
                    <h1 style="font-size: 1rem;">DATOS DEL COMPRADOR</h1>
                    <p class="modal-title">Nombre</p>
                    <input type="text">
                    <p class="modal-title">Apellido</p>
                    <input type=" text">
                    <p class="modal-title">DNI</p>
                    <input type="number1" maxlength="8">
                </div>
            </div>
            <div class="modal-footer ">
                <button type="button" class="btn btn-danger" data-bs-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-success">Vender</button>
            </div>
        </div>
    </div>
</div>